{% extends 'home.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
    <title>Document</title>
    <style>
      .tab {
        tab-size: 2;
    }
    </style>
</head>
<body>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{product.product_name}}</h1>
      <p class="lead text-muted">{{product.description}}</p>
      <p>
        <strong class="my-2">{{product.price}} Rs</strong>
        <a type="button" href="{% url 'add_to_cart' product.id %}" class="btn btn-secondary my-2" id = '{{product.id}}'>Add To Cart</a>
      </p>
      <p>
        <img style="float: right; margin: 0px 250px 15px 0px;" src="{{ product.image.url }}" width="600" />
        
        <br style="clear: both;" />
      </p>
    </div>
  </section>
  

{% endblock content %}